
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1{
    margin-top: 20px;
}

h4{
    padding-bottom: 20px;
}

header {
    background-color: #E2E1E8;
    padding-top: 10px;
}

.guestHeader>h1{
    text-align: center;
}

.guestHeader>h4{
    text-align: center;
}

.guestHeader>a>button{
    float: right;
    margin-right: 5px;
    position: relative;
    bottom: 45px;
}

body{
    background-color: #81C9EA;
}

.videoCategorieButton{
    width: 90%;
    background-image: url("/img/speaker_buttonicon.png");
    background-position: 90% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    background-color: #E2E1E8;
    margin-bottom: 0.4rem;
    color: BLACK;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: center;
}

.btn:focus,
.btn.focus{
    outline: 0;
    box-shadow: 0 0 0 0.4rem rgba(50, 205, 50, 1) !important;
}

.btn-secondary:active,
.btn-secondary.active {
    box-shadow: 0 0 0 0.4rem rgba(50, 205, 50, 1) !important;
}

.videoCategoryImage {
    width: 90% !important;
    margin-bottom: 20px;

    //min-height: 40px;
}

.moviecategories{
    margin-top: 10px;
}

.videoCategoryImage:focus,
.videoCategoryImage.focus{
    outline: 0;
    box-shadow: 0 0 0 0.4rem rgba(50, 205, 50, 1);
}

.pictureCategorieButton{
    width: 50%;
    background-image: url("/img/speaker_buttonicon.png");
    background-position: 90% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    background-color: #E2E1E8;
    margin-bottom: 0.4rem;
    color: BLACK;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: center;
}

.picturecategories{
    margin-top: 20px;
    margin-bottom: 75px;
}

.picturecategories>div{
    text-align: center;
}

.pictureCategoryImage {
    width: 50% !important;
}

.pictureCategoryImage:focus,
.pictureCategoryImage.focus{
    outline: 0;
    box-shadow: 0 0 0 0.4rem rgba(50, 205, 50, 1);
}

.videosPerCategoryImage{
    width: 100%;
}


#playVidImage{
    //src:url("/img/playVidImage.jpg");
    border-radius: 8px;
}

.vidCatAnchor{
    color: #1b1e21 !important;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal-full {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.close{
    color: #1b1e21;
    font-size: 60px;
    position: relative;
    top: 65px;
    right: 15px;
    z-index: 5;
}

.modal-full .modal-content {
    max-height: 100%;
}

.video {
    width: 100%    !important;
    height: auto   !important;
}

.footerImage{
    max-height: 50px;
}

.penisImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vaginaImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.infoTitle{
    font-weight: bold;
    font-size: 16px;
}

.linkshead{
    font-weight: bold;
    font-size: 16px;
}

/*
!* The Modal (background) *!
.modal {
  display: none; !* Hidden by default *!
  position: fixed; !* Stay in place *!
  z-index: 1; !* Sit on top *!
  padding-top: 100px; !* Location of the box *!
  left: 0;
  top: 0;
  width: 100%; !* Full width *!
  height: 100%; !* Full height *!
  overflow: auto; !* Enable scroll if needed *!
  background-color: rgb(0,0,0); !* Fallback color *!
  background-color: rgba(0,0,0,0.9); !* Black w/ opacity *!
}

!* Modal Content (image) *!
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

!* Caption of Modal Image *!
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

!* Add Animation *!
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

!* The Close Button *!
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

!* 100% Image Width on Smaller Screens *!
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
*/
